extends layout

block content
  main
    h1 Check out the latest outfits
    section
      figure
        img(src='')
        figcaption Description
      figure
        img(src='')
        figcaption Description
      figure
        img(src='')
        figcaption Description
      figure
        img(src='')
        figcaption Description
