<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Outfitty</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/app.css">
  </head>
  <body>
    <header>
      <nav>
        <h1>Outfitty</h1>
        <a href="">Log in</a>
        <a href="">Sign up</a>
      </nav>
    </header>
    <main>
      <h1>The new way to show off your style.</h1>
      <p>Upload photos of your favorite outfits and see if they're hot or not.</p>
      <a href=""><img src="" alt="Sign up with Facebook"></a>
      <a href=""><img src="" alt="Sign up with Google"></a>
      <a href=""><img src="" alt="Sign up with Email"></a>
    </main>
    <footer>
      <p>&copy; 2015, Katie Reid &amp; Keri Brady</p>
    </footer>
  </body>
</html>
