extends layout

block content
  main
    img.backImage(src='../images/meninsuits.jpg')
    .imageText
      h1 The new way to show off your style.
      p Upload photos of your favorite outfits and see if they're hot or not.
      a(href='')
        img.socialSignup(src='../images/facebook.png', alt='Sign up with Facebook')
      a(href='')
        img.socialSignup(src='../images/google.png', alt='Sign up with Google')


