doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Outfitty
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/css/app.css')
    link(href='http://fonts.googleapis.com/css?family=Abril+Fatface|Merriweather', rel='stylesheet', type='text/css')
  body.grid-container
    header.grid-100
      nav
        h1.grid-30.suffix-20 Outfitty
        .grid-30.prefix-20.navLinks
          a(href='') Log in
          a(href='') Sign up
    block content
    footer
      p © 2015, Katie Reid & Keri Brady
